@font-face {
  font-family: 'open-sans';
  src: url("../fonts/OpenSans.woff2") format('woff2'), url("../fonts/OpenSans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1 {
  color: #008000;
  font-family: 'open-sans', Arial, sans-serif;
}
