///fonts
$OpenSans = 'open-sans', Arial, sans-serif;

// colors
$body = #F2F1EF;
$white = #fff;
$yellow = #FBAE38;
$black = #000000;
$black2 = #333333;
$red = #E74A21;
$gray = #9D9D9D;

//gradients
$g-yellow= linear-gradient(70.22deg, #EEB78B 18.62%, #D79D6F 66.52%);
$g-gray= linear-gradient(134.86deg, #C5B6AA 45.49%, #E4DCD5 85.27%);

// MEDIA
$kingsize= 'min-width= 1920px';
$xxl= 'min-width= 1451px'; // desktop
$xl= 'min-width= 1366px';
$lg= 'min-width= 1150px'; // laptop
$md= 'min-width= 768px'; // tablet
$sm= 'min-width= 640px'; // phone
$smlst= 'min-width= 375px'; // phone
